<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Contactos</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="search-outline"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon name="ellipsis-vertical-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-title size="small"> 6 contactos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-avatar slot="start" color="success">
        <ion-icon name="people-outline"></ion-icon>
      </ion-avatar>
      <ion-label>Nuevo grupo</ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <ion-icon name="person-add-outline"></ion-icon>
      </ion-avatar>
      <ion-label>Nuevo contacto</ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <ion-icon name="people-circle-outline"></ion-icon>
      </ion-avatar>
      <ion-label>Nueva comunidad</ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <ion-icon name="chatbubbles-outline"></ion-icon>
      </ion-avatar>
      <ion-label>Chatear con las IA</ion-label>
    </ion-item>

    <ion-list-header>Contactos en WhatsApp</ion-list-header>

    <ion-item *ngFor="let contact of contacts">
      <ion-avatar slot="start">
        <img [src]="contact.avatar" alt="Avatar">
      </ion-avatar>
      <ion-label>
        <h2>{{ contact.name }}</h2>
        <p>{{ contact.status }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
