<ion-header>
  <ion-toolbar color="success">
    <ion-title>WhatsApp</ion-title>
    <ion-buttons slot="end">
        <ion-button>
          <ion-icon name="camera-outline"></ion-icon>
        </ion-button>
      <ion-button>
        <ion-icon name="ellipsis-vertical-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-toolbar>
  <ion-searchbar placeholder="Buscar"></ion-searchbar>
</ion-toolbar>
<ion-toolbar>
  <ion-segment color="light" scrollable>
    <ion-segment-button value="all" checked>
      <ion-label>Todos</ion-label>
    </ion-segment-button>
    <ion-segment-button value="unread">
      <ion-label>No leídos</ion-label>
    </ion-segment-button>
    <ion-segment-button value="favorites">
      <ion-label>Favoritos</ion-label>
    </ion-segment-button>
    <ion-segment-button value="groups">
      <ion-label>Grupos</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-toolbar>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let chat of chats">
      <ion-avatar slot="start">
        <img [src]="chat.avatar" alt="Avatar">
      </ion-avatar>
      <ion-label>
        <h2>{{ chat.name }}</h2>
        <p>{{ chat.message }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button color="success" (click)="openNewChatPage()">
    <ion-icon name="chatbubbles-outline"></ion-icon>
  </ion-fab-button>
</ion-fab>

<ion-footer>
  <ion-toolbar>
    <ion-segment color="primary">
      <ion-segment-button value="chats"  routerLink="/dashboard">
        <ion-icon name="chatbubbles-outline"></ion-icon>
        <ion-label>Chats</ion-label>
      </ion-segment-button>
      <ion-segment-button value="communities"  routerLink="/community">
        <ion-icon name="people-outline"></ion-icon>
        <ion-label>Comunidades</ion-label>
      </ion-segment-button>
      <ion-segment-button value="updates" routerLink="/news">
        <ion-icon name="chatbox-ellipses-outline"></ion-icon>
        <ion-label>Novedades</ion-label>
      </ion-segment-button>
      <ion-segment-button value="calls" routerLink="/calls">
        <ion-icon name="call-outline"></ion-icon>
        <ion-label>Llamadas</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-footer>
